<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{url_for('static', filename = 'img/favicon.png')}}" type="image/png">
  <link rel="shortcut icon" href="{{url_for('static', filename = 'img/favicon.png')}}" type="image/png">
  <title>Scanner</title>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!--Bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!--Mis estilos css-->
  <style>
    .container{
      max-width: 800px !important;
    }
  </style>

</head>

<body>
    <nav class="navbar bg-dark d-flex justify-content-between">
      <a class="navbar-brand text-light px-3" href="/">Scanner</a>
    </nav>

    <div class="container px-3">
      <h1>Respeto a las Ofertas</h1>
      <p>El usuario se compromete a respetar las ofertas y promociones presentadas en la aplicación, utilizándolas de acuerdo con las condiciones establecidas por los establecimientos afiliados.</p>
      
      <h1>Contenido Apropiado</h1>
      <p>Queda prohibido subir fotos de perfil inapropiadas, ofensivas o que violen los estándares de la comunidad. Nos reservamos el derecho de eliminar cualquier contenido que considere inadecuado.</p>

      <h1>Datos Personales</h1>
      <p>El usuario se compromete a proporcionar información precisa y actualizada en su perfil, siendo responsable de la veracidad de los datos personales suministrados.</p>
    
      <h1>Uso Responsable</h1>
      <p>El usuario utilizará la aplicación de manera responsable, evitando conductas que puedan afectar la experiencia de otros usuarios o el funcionamiento adecuado de la plataforma.</p>
    
      <h1>Seguridad de la Cuenta</h1>
      <p>Es responsabilidad del usuario mantener la confidencialidad de su cuenta y contraseña. Cualquier actividad realizada con su cuenta será de su exclusiva responsabilidad.</p>

      <h1>Propiedad Intelectual</h1>
      <p>Los contenidos presentes en la aplicación, incluyendo marcas y logotipos, están protegidos por derechos de propiedad intelectual. El usuario se compromete a respetar estos derechos y no utilizarlos de manera no autorizada.</p>

      <h1>Comunicación Respetuosa</h1>
      <p>En cualquier interacción dentro de la aplicación, se espera que los usuarios se traten con respeto y cortesía. Cualquier forma de acoso, difamación o comportamiento inapropiado será </p>
    
      <h1>Cumplimiento Legal</h1>
      <p>El usuario se compromete a cumplir con todas las leyes y regulaciones aplicables al utilizar la aplicación, incluyendo aquellas relacionadas con la privacidad y protección de datos.</p>
    
      <h1>Actualización de Información</h1>
      <p>El usuario debe mantener actualizada su información de contacto para recibir notificaciones y comunicaciones relevantes de la aplicación.</p>
    
      <h1>Suspensión o Terminación de Cuenta</h1>
      <p>Nos reservamos el derecho de suspender o terminar la cuenta de cualquier usuario que incumpla repetidamente estas normas o que participe en actividades que perjudiquen la integridad y reputación de la aplicación.</p>
    </div>
</body>

</html>